.TaskList {
  margin-top: 20px;
  width: 300px;
}

.TaskListItem {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.TaskListItem span {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}